@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.marquee {
    background-color: #111;
    color: #eee;
    width: 100;
    /* width: 80vw; */
    margin: auto;
    height: 40px;
    overflow: hidden;
    margin-bottom: .5rem;
}

.marquee-content {
    list-style-type: none;
    height: 100%;
    display: flex;
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% { transform: translateX(0); } /* same as the marquee with */
    100% { transform: translateX(-180vw); } /* li width times number of li content*/
}

.marquee-content li {
    /* width: 19.6%; */
    /* border: 3px solid tomato; */
    width: 10vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .marquee-content li {
        font-size: 1.5rem;
    }
}